<div class="container-fluid">
    <div class="banner-sub">
        <div class="slider">
            <ul class="slides">


                <li>
                    <img src="images/banner/land-maenam-01.png">
                    <!-- random image -->
                    <div class="caption left-align">
                        {{!-- <h1 class="grey-text">Land For Sale</h3>
                            <h3 class="grey-text">14 Rai @Maename Soi 1</h3>
                            <h3 class="grey-text">63,000,000 THB</h3> --}}
                    </div>
                </li>

                {{!-- <li>
                    <img src="images/banner/maenam-01.png">
                    <!-- random image -->
                    <div class="caption left-align">
                        <h1 class="grey-text">Land For Sale</h3>
                            <h3 class="grey-text">14 Rai @Maename Soi 1</h3>
                            <h3 class="grey-text">63,000,000 THB</h3>
                    </div>
                </li>

                <li>
                    <img src="images/banner/maenam-02.png">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h1 class="grey-text">Land For Sale</h3>
                            <h3 class="grey-text">14 Rai @Maename Soi 1</h3>
                            <h3 class="grey-text">63,000,000 THB</h3>
                    </div>
                </li> --}}

                <li>
                    <img src="images/banner/moonhut-01.png">
                    <!-- random image -->
                    <div class="caption left-align">
                        {{!-- <h1 class="grey-text">Beach Front For Sale</h1>
                        <h3 class="grey-text">6 Rai 48 sqw. Located Maenam Beach</h3>
                        <h3 class="grey-text">275,000,000 THB</h3> --}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>