<div class="row">
  <footer class="page-footer grey darken-4">
    {{!-- <div class="container center">
              <p><h5 style="color: #455a64">Follow Us</h5></p>

              <p class="blue-grey-text"><i class="fab fa-facebook-square fa-4x"></i> <i class="fab fa-instagram fa-4x"></i></p>
              
          </div> --}}

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 style="color: #9e9e9e">Contact Us</h4>
          <ul class="highlight">
            {{!-- <li><a style="color: #9e9e9e"" href="/">ติดต่อ: M.S.C.S</a></li> --}}
            {{!-- <li class="divider"></li> --}}
            <li><a style="color: #9e9e9e" href=" mailto:rootrealestatethailand@gmail.com ?Subject=Enquiry From
                Website">Email: rootrealestatethailand.com</a></li>
            {{!-- <li class="divider"></li> --}}
            <li><a style="color:#9e9e9e" href=" tel:+66952524878">Mobile: +6695-252-4878</a></li>
            {{!-- <li class="divider"></li> --}}
            {{!-- <li><a style="color: #9e9e9e"" href="/contact-us">Skype: p.sinthorn</a></li> --}}
            {{!-- <li class="divider"></li> --}}
            {{!-- <li><a style="color: #9e9e9e"" href="/contact-us">WhatsApp: 093 579 4878</a></li> --}}
            {{!-- <li class="divider"></li> --}}

          </ul>
          <br>
          <h5 style="color: #9e9e9e">Follow Us</h5>
          <div class="row">
            <a href="https://www.facebook.com/rootrealestatethailand" target="_blank">
              <img src="/images/socials/fb-crcle-transparent.png" class="responsive-img" style="width: 50px"
                alt="Facebook MSCS Pest">
            </a>
            <img src="/images/socials/youtube-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="youtube MSCS Pest">
            <img src="/images/socials/googleplus-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Google Plus MSCS Pest">
            <img src="/images/socials/twitter-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Twitter MSCS Pest">
            <img src="/images/socials/instagram-crcle-transparent.png" class="responsive-img" style="width: 50px"
              alt="Instagram MSCS Pest">
          </div>

        </div>
        <div class="col l4 offset-l2 s12">
          <h4 style="color: #9e9e9e">Links</h4>
          <ul class="highlight">
            <li><a style="color: #9e9e9e" href="/">Home</a></li>
            {{!-- <li class="divider"></li> --}}

            <li><a style="color: #9e9e9e" href="/products">Properties</a></li>
            {{!-- <li class="divider"></li> --}}
            <li><a style="color: #9e9e9e" href="/services">Services</a></li>

            <li><a style="color: #9e9e9e" href="/about">About Us</a></li>
            <li><a style="color: #9e9e9e" href="/contact-us">Contact Us</a></li>

            <br>
            <li><a style="color: #9e9e9e" href="/term-policies">Website Term & Policies</a></li>




          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright  red darken-1 ">
      <div class="container">
        © 2018 Copyright RootRealEstateThailand.com
        {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
        <div class="right hide-on-small-only">
          <ul>
            {{!-- <li>
              <a href="http://www.f2.co.th" style="color: white" target="_blank">2018 | Fullstack Development by: F2
              </a>
            </li> --}}
          </ul>
        </div>
      </div>
    </div>

  </footer>
</div>